@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: rgba(255, 255, 255, 1);
  color: #000000;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  height: auto;
}
figure {
  margin: 0;
  padding: 0;
  border: 0;
}
.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.w-y-header.is-open .w-y-header-background {
  left: 0;
}
.w-y-header-button-wrapper {
  margin-left: auto;
}
.w-y-header-icon {
  display: none;
}

.w-y-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.w-y-navigation-list.is-open {
  right: 0;
}
.w-y-header-icon-menu {
  display: block;
}

.w-y-header-icon-button.is-open .w-y-header-icon-menu {
  display: none;
}

.w-y-header-icon-button.is-open .w-y-header-icon-close {
  display: block;
}

.w-y-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 60px;
  background: rgba(73, 74, 67, 1);
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.25);
}

.w-y-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: rgba(73, 74, 67, 1);
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.25);
}
.w-y-header.is-open .w-y-header-background {
  left: 0;
}
.w-y-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.w-y-header-icon-menu {
  display: block;
}

.w-y-header-icon-button.is-open .w-y-header-icon-menu {
  display: none;
}

.w-y-header-icon-button.is-open .w-y-header-icon-close {
  display: block;
}

.w-y-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 16px;
  position: relative;
}

.w-y-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 657px;
  transition: 0.3s;
  z-index: 999;
  padding: 130px 50px 0;
  border-radius: 0px 0px 20px 20px;
  gap: 28px;
  background: rgba(73, 74, 67, 0.5);
  backdrop-filter: blur(18px);
}

.w-y-navigation-list.is-open {
  right: 0;
}

.w-y-navigation-link {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;

  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

.w-y-navigation-link:hover,
.w-y-navigatioт-link:focus {
  color: rgba(255, 4, 0, 1);
}

.w-y-header.is-open {
  background-color: transparent;
}

.w-y-navigation-img {
  display: none;
}

@media screen and (min-width: 1192px) {
  .w-y-navigation-img {
    display: flex;
  }
  .w-y-policy-terms-header-icon-menu {
    display: none;
  }

  .w-y-header {
    width: 100%;
    height: 62px;
    padding: 10px 0px 10px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    background: rgba(73, 74, 67, 0.5);
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.15);
  }

  .w-y-header-icon-button {
    display: none;
  }
  .w-y-navigation {
    display: flex;
    flex-direction: row;

    flex: 1;
    padding: 0;
    width: 1440px;
    margin: auto;
  }

  .w-y-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 24px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: start;
  }

  .w-y-navigation-link {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 14px;

    text-decoration: none;
  }

  .w-y-navigation-item-desk {
    display: none;
  }
}
.w-y-home {
  width: 375px;
  height: 635px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/Frame\ 39926.png");
  margin: auto;
}
.w-y-home-container {
  width: 375px;
  padding: 151px 36.5px 0px;
  margin: auto;
}

.w-y-home-container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.w-y-home-title {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 24px;

  text-align: center;
  color: rgba(255, 4, 0, 1);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.w-y-home-text {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 36px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.w-y-home-text-two {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-top: 30px;
}

@media screen and (min-width: 1192px) {
  .w-y-home {
    width: 1440px;
    height: 584px;
    background-image: url("/img/home/main.png");
  }
  .w-y-home-container {
    width: 1440px;
    padding: 254px 169px 0px;
  }
  .w-y-home-container-top {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .w-y-home-title {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 24px;
  }

  .w-y-home-text {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 36px;
  }
  .w-y-home-text-two {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 24px;
    text-align: left;
    padding-top: 30px;
  }
}

.w-y-why-container {
  width: 375px;
  margin: auto;
  padding: 24px 16px 0;
}
.w-y-why-title {
  font-family: Montserrat;
  font-weight: 900;
  font-size: 16px;
  padding: 52px 0;
}
.w-y-why-list {
  display: flex;
  flex-direction: column;
  gap: 64px;
}
.w-y-why-item {
  padding: 39px 40px;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(0, 0, 0, 1);
  box-shadow: 4px 38px 62px 0px rgba(0, 0, 0, 0.5),
    -3px -4px 7px 0px rgba(255, 255, 255, 0.15) inset;
}
.w-y-why-text-bold {
  font-family: Montserrat;
  font-weight: 900;
  font-size: 20px;
  color: rgba(255, 4, 0, 1);
}
.w-y-why-text {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  color: rgba(32, 30, 53, 1);
}
.w-y-why-text-list {
  list-style-type: disc;
  margin-left: 20px;
  margin-top: 30px;
}
.w-y-why-item {
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 0.5;
}

.w-y-why-item:hover {
  opacity: 1;
}
@media screen and (min-width: 1192px) {
  .w-y-why-container {
    width: 1440px;
    padding: 88px 115px;
  }
  .w-y-why-title {
    font-family: Montserrat;
    font-weight: 900;
    font-size: 16px;
    padding: 52px 0;
  }
  .w-y-why-list {
    display: flex;
    flex-direction: row;
    gap: 100px;
  }
  .w-y-why-item {
    width: 555px;
    height: 292px;

    padding: 69px 80px;
  }
  .w-y-why-text-bold {
    font-family: Montserrat;
    font-weight: 900;
    font-size: 20px;
    color: rgba(255, 4, 0, 1);
  }
  .w-y-why-text {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    color: rgba(32, 30, 53, 1);
  }
  .w-y-why-text-list {
    list-style-type: disc;
    margin-left: 20px;
    margin-top: 30px;
  }
}

.w-y-uniqueness-container {
  margin: auto;
  width: 375px;
  padding: 56px 16px 24px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.w-y-uniqueness-t {
  font-family: Montserrat;
  font-weight: 900;
  font-size: 20px;
  color: rgba(73, 74, 67, 1);
  padding: 24px 0 36px;
}
.w-y-uniqueness-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.w-y-uniqueness-item {
  width: 340px;
  padding: 18px 20px;

  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(0, 0, 0, 1);
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
}
.w-y-uniqueness-text-bold {
  font-family: Montserrat;
  font-weight: 900;
  font-size: 20px;
}
.w-y-uniqueness-text {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  color: rgba(32, 30, 53, 1);
  padding-top: 12px;
  text-align: justify;
}
.w-y-uniqueness-img {
  width: 340px;
  height: 300px;
}
@media screen and (min-width: 1192px) {
  .w-y-uniqueness-container {
    margin: auto;
    width: 1440px;
    padding: 88px 118px;
    flex-direction: row;
    gap: 47px;
  }
  .w-y-uniqueness-t {
    font-family: Montserrat;
    font-weight: 900;
    font-size: 20px;

    padding: 24px 0 22px;
  }
  .w-y-uniqueness-list {
    display: flex;
    flex-direction: column;
    gap: 28px;
  }
  .w-y-uniqueness-item {
    width: 602px;
    padding: 13.5px 20px;
  }
  .w-y-uniqueness-text-bold {
    font-family: Montserrat;
    font-weight: 900;
    font-size: 20px;
  }
  .w-y-uniqueness-text {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    color: rgba(32, 30, 53, 1);
    padding-top: 12px;
    text-align: justify;
  }
  .w-y-uniqueness-img {
    width: 558px;
    height: 647px;
  }
}

.w-y-about-title {
  font-family: Montserrat;
  font-weight: 900;
  font-size: 36px;
  color: rgba(255, 4, 0, 1);
}

.w-y-how-container {
  margin: auto;
  width: 375px;
  padding: 94px 11px;
  background: rgba(73, 74, 67, 1);
  border: 5px solid rgba(255, 4, 0, 1);
  color: rgba(255, 255, 255, 1);
}
.w-y-how-t {
  font-family: Montserrat;
  font-weight: 900;
  font-size: 32px;
  color: rgba(255, 255, 255, 1);
}
.w-y-how-q {
  font-family: Montserrat;
  font-weight: 900;
  font-size: 24px;
  padding: 24px 0;
}
.w-y-how-w {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 20px;
}
.w-y-how-list {
  padding-top: 88px;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.w-y-how-item {
}

.w-y-how-img {
  width: 25px;
  height: 25px;
}

.w-y-how-text {
  font-family: Montserrat;
  font-weight: 900;
  font-size: 24px;
  padding-top: 20px;
}

@media screen and (min-width: 1192px) {
  .w-y-how-container {
    margin: auto;
    width: 1440px;
    padding: 38px 111px;
  }

  .w-y-how-list {
    padding-top: 88px;
    display: flex;
    flex-direction: row;
    gap: 100px;
  }

  .w-y-how-item {
    width: 227px;
  }

  .w-y-how-text {
    font-family: Montserrat;
    font-weight: 900;
    font-size: 24px;
    padding-top: 20px;
  }
}

.w-y-characters-container {
  margin: auto;
  width: 375px;
  padding-bottom: 24px;
}
.w-y-characters-div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/6.png");
  width: 375px;
  height: 351.6927490234375px;
  padding: 96px 18px 0;
}

.w-y-characters-text-bold {
  font-family: Montserrat;
  font-weight: 900;
  font-size: 32px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
}

.w-y-characters-text {
  font-family: Montserrat;
  font-weight: 900;
  font-size: 16px;
  color: rgba(255, 4, 0, 1);
  text-align: center;
  padding: 10px 0 23px;
}
.w-y-characters-link {
  font-family: Montserrat;
  font-weight: 900;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: 0%;
  text-decoration-thickness: 0%;
  text-decoration-skip-ink: auto;
  color: rgba(255, 255, 255, 1);
}
@media screen and (min-width: 1192px) {
  .w-y-characters-container {
    margin: auto;
    width: 1440px;
    padding: 88px 116px;
  }
  .w-y-characters-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/img/6\ \(1\).png");
    width: 1209px;
    height: 245px;
    padding: 67px 0 0;
  }

  .w-y-characters-text {
    font-family: Montserrat;
    font-weight: 900;
    font-size: 16px;
    color: rgba(255, 4, 0, 1);
    text-align: center;
    padding: 28px 0 22px;
  }
  .w-y-characters-link {
    font-family: Montserrat;
    font-weight: 900;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-offset: 0%;
    text-decoration-thickness: 0%;
    text-decoration-skip-ink: auto;
    display: flex;
    justify-content: center;
  }
}

.w-y-features {
  margin: auto;
  width: 375px;
  height: 1312px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Frame\ 39927.png");
}

.w-y-features-container {
  width: 375px;
  margin: auto;
  padding: 379px 16px 0;
}
.w-y-features-text-bold {
  font-family: Montserrat;
  font-weight: 900;
  font-size: 24px;
  color: rgba(32, 30, 53, 1);
  padding: 24px 0;
}
.w-y-features-text-bold-t {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 20px;
  color: rgba(32, 30, 53, 1);
}

.w-y-features-form {
  display: flex;
  flex-direction: column;
  gap: 35px;
  padding-top: 64px;
}
.w-y-features-input {
  background: rgba(217, 217, 217, 0.8);
  backdrop-filter: blur(50px);
  width: 340px;
  height: 54px;
  padding: 15px 21px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 20px;
  color: rgba(0, 0, 0, 1);
  border: none;
}
.w-y-features-textarea {
  height: 198px;
}
.w-y-features-button {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-top: -35px;
}
.w-y-features-button:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.w-y-features-button img {
  width: 375px;
  height: 194px;
  object-fit: contain;
}
@media screen and (min-width: 1192px) {
  .w-y-features {
    margin: auto;
    width: 1440px;
    height: 897px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/img/Frame\ 39928.png");
  }

  .w-y-features-container {
    width: 1440px;
    margin: auto;
    padding: 88px 115px 0;
  }

  .w-y-features-form {
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding-top: 99px;
    width: 604px;
  }
  .w-y-features-input {
    width: 604px;
    height: 54px;

    padding: 15px 21px;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 20px;
    color: rgba(0, 0, 0, 1);
    border: none;
  }
  .w-y-features-textarea {
    height: 198px;
  }
  .w-y-features-button {
    width: 729px;
    height: 194px;
    margin-left: -57px;
    margin-top: -35px;
  }

  .w-y-features-button img {
    width: 729px;
    height: 194px;
    content: url("/img/Frame\ 51\ \(2\).png");
  }
}

.w-y-container {
  padding: 84px 16px 40px;
  width: 375px;
  margin: auto;
  color: rgba(73, 74, 67, 1);
  font-family: Montserrat;
  font-weight: 400;
  font-size: 18px;
}

.w-y-container h1 {
  font-family: Montserrat;
  font-weight: 900;
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
}

.w-y-container h2 {
  margin-top: 10px;
  font-family: Montserrat;
  font-weight: 900;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
}

.w-y-container h3 {
  margin-top: 10px;
}

.w-y-container ul {
  margin-top: 10px;
  list-style-type: disc;
  margin-left: 20px;
}

.w-y-container ul li {
  margin-bottom: 10px;
}
.w-y-container p {
  margin-top: 10px;
}
.w-y-container a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease-in-out;
}

.w-y-container a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 1192px) {
  .w-y-container {
    padding: 86px 80px 40px;
    width: 1440px;
    margin: auto;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 18px;
  }

  .w-y-container h1 {
    font-family: Montserrat;
    font-weight: 900;
    font-size: 48px;

    text-align: center;
    text-transform: uppercase;
  }

  .w-y-container h2 {
    margin-top: 20px;
    font-family: Montserrat;
    font-weight: 900;
    font-size: 24px;
  }

  .w-y-container h3 {
    margin-top: 20px;
  }

  .w-y-container ul {
    margin-top: 20px;
  }

  .w-y-container ul li {
    margin-bottom: 10px;
  }
  .w-y-container p {
    margin-top: 20px;
  }
}

.w-y-footer-container {
  width: 375px;
  margin: auto;
  padding: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 44px;
  color: rgba(255, 255, 255, 1);
}

.w-y-footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
}

.w-y-footer-text {
  text-decoration: none;
  color: inherit;
}

.w-y-footer-copyright {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
}

@media screen and (min-width: 1192px) {
  .w-y-footer-container {
    width: 1440px;
    padding: 56px 0px;
    display: flex;

    align-items: center;
    gap: 28px;
  }

  .w-y-footer-wrapper {
    display: flex;
    flex-direction: row;
    gap: 40px;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
  }

  .w-y-footer-copyright {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
  }
}

.w-y-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  padding: 16px 20px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(60px);
  z-index: 1000;
  display: none;
}

.w-y-cookie-popup-text-two {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: rgba(32, 30, 53, 1);
  letter-spacing: 0%;
}

.w-y-cookie-button-container {
  margin: auto;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.w-y-cookie-button {
  border: none;
  background-color: transparent;
  border: 1px solid rgba(216, 0, 18, 1);
  width: 136px;
  height: 44px;
  border-radius: 14px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: rgba(32, 30, 53, 1);
}

#accept-cookies {
  background: rgba(216, 0, 18, 1);
  color: rgba(240, 253, 252, 1);
}

.w-y-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
.w-y-cookie-popup-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
@media screen and (min-width: 1192px) {
  .w-y-cookie-popup-text-two {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .w-y-cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row-reverse;
    gap: 16px;
  }

  .w-y-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;
    padding: 32px;
    display: none;
  }
  .w-y-cookie-button {
    width: 194px;
    height: 51px;
    gap: 10px;
    border-radius: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
  }
}
